<ion-header>
  <ion-toolbar>

    <!-- Mostra o botão do menu principal -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Erro 404</ion-title>

    <!-- Logotipo -->
    <ion-img class="page-logo" slot="end" src="assets/logo01.png"></ion-img>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <ion-img src="assets/e404.jpg" alt="Ooops! Erro 404."></ion-img>
  <p>O conteúdo que você está tentando acessar não foi encontrado.</p>
  <p>Clique no botão abaixo ou no menu para continuar navegando...</p>
  <ion-button color="primary" expand="block" routerLink="/home">Página inicial</ion-button>

</ion-content>