<ion-header>
  <ion-toolbar>

    <!-- Mostra o botão do menu principal -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Sair / Logout</ion-title>

    <!-- Logotipo -->
    <ion-img class="page-logo" slot="end" src="assets/logo01.png"></ion-img>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <p class="ion-text-center">
    <ion-icon name="log-out" color="primary"></ion-icon>
  </p>
  <p>Clique no botão abaixo para confirmar a saída do aplicativo.</p>

  <ion-button expand="block" color="danger" (click)="logout()">
    <ion-icon name="log-out" slot="start"></ion-icon>
    Sair / Logout
  </ion-button>

</ion-content>
