<ion-header>
  <ion-toolbar>

    <!-- Mostra o botão do menu principal -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Sobre</ion-title>

    <!-- Logotipo -->
    <ion-img class="page-logo" slot="end" src="assets/logo01.png"></ion-img>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal" *ngIf="items">

  <p class="ion-text-center">
    <ion-icon name="information-circle" color="success"></ion-icon>
  </p>

  <p>Obtenha mais informações sobre este aplicativo.</p>

  <div *ngFor="let item of items | async">

    <ion-card color="light" class="ion-no-margin ion-margin-vertical" routerLink="/aboutview/{{ item.id }}">
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="3"><ion-icon name="{{ item.icon }}"></ion-icon></ion-col>
            <ion-col size="9">
              <h2>{{ item.title }}</h2>
              <small>{{ item.intro }}</small>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
