<ion-header>
  <ion-toolbar>

    <!-- Mostra o botão do menu principal -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Sobre</ion-title>

    <!-- Logotipo -->
    <ion-img class="page-logo" slot="end" src="assets/logo01.png"></ion-img>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal" *ngIf="items">

  <p>Obtenha mais informações sobre este aplicativo.</p>

  <div *ngFor="let item of items | async">

    <ion-card class="ion-no-margin ion-margin-vertical" routerLink="/aboutview/{{ item.id }}">
      <ion-card-header>
        <ion-card-title>{{ item.title }}</ion-card-title>
      </ion-card-header>
    </ion-card>

  </div>

</ion-content>
